.content-container {
  .first-tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .vodal {
      .vodal-dialog {
        left: 180px;
      }
    }

    .badge-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;

      .data-badge {
        width: 300px;
        height: 190px;
        border: 1px solid #949494;
        position: relative;

        .badge-top-side {
          display: flex;
          align-items: center;
          height: 30px;
          padding: 10px;
          border-bottom: 1px solid #949494;

          .image-part {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;

            .user-image {
              border-radius: 6px;
              width: 40px;
              height: 40px;
            }
          }

          .name-part {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-left: 15px;

            .user-name {
              display: block;
              width: 165px;
              max-width: 180px;
              text-align: left;
              font-size: 16px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              padding-top: 3px;
            }
            .see-details-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 65px;
              height: 30px;
              border-radius: 4px;
              background: linear-gradient(to bottom, #00ccff, #6655cc);
              color: #fff;
              cursor: pointer;
            }
          }
        }
        .badge-bottom-side {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 140px;

          .followers-part, .repo-part {
            display: flex;
            width: 100%;
            height: 100%;

            .each-field {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 100%;
              padding: 0 25px;

              .field-name {
                display: flex;
                width: 70px;
                font-size: 15px;
              }
              .field-data {
                display: flex;
                font-size: 18px;
                font-weight: bold;
              }
            }
          }
        }
        .v-spinner {
          position: absolute;
          top: 100px;
          left: 120px;
        }
      }
    }

    .search-container {
      width: 100%;
      height: calc(100% - 400px);

      .search-user {
        width: 250px;
        height: 25px;
        border-radius: 7px;
        background-color: #ffffff;
        border: solid 1px #e4e4e4;
        outline: none;
        font-size: 17px
      }
    }
  }
}
